.map-container {
  width: 100%;
  height: 400px;
  border: 1px solid #ccc;
}

.title{
  color:white;
  opacity:1;
  font-size:20px;
  text-align:center;
  line-height:75px;
}


.container{
  height:75px;
  background-color:black;
  opacity:0.4;
}

.map-container{
  margin-top:30px;
}